.rating {
  display: flex;
  gap: 5px;

  font-size: 28px;
  cursor: pointer;
}

.star {
  color: #ccc;
  transition: 0.2s;
}

.star.filled {
  color: gold;
}

.star:hover {
  transform: scale(1.2);
}