.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin: 10px 0;
}

.select-label {
  font-size: 14px;
  font-weight: 500;
}

.select {
  width: 250px;

  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 6px;

  font-size: 16px;

  cursor: pointer;

  outline: none;
}

.select:focus {
  border-color: royalblue;
  box-shadow: 0 0 5px rgba(65, 105, 225, 0.3);
}

.select:disabled {
  background: #f2f2f2;
  cursor: not-allowed;
}