.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;

  cursor: pointer;
}

.checkbox-wrapper input {
  width: 16px;
  height: 16px;

  cursor: pointer;
}

.checkbox-label {
  user-select: none;
}

.checkbox-wrapper input:disabled {
  cursor: not-allowed;
}